.demo-image-preview {
    position: relative;
    text-align: center;
}

.demo-image-preview > img {
}

@media(max-width:768px){
    .demo-image-preview > img {
        width: 100%;
    }
}

/* fullscreen enable by props */
.demo-image-preview-fullscreen > img {
}

.image-overlay {
    z-index: 999;
    width: fit-content;
    position: absolute;
    left: 50%; transform: translate(-50%, 0);
}
.image-overlay img{
}
