
.char-page-container h2{
    margin: 1rem;
}

.character-container {

}

.character-btn{
    background: none;
    border: none;

    display: flex;
    margin: 2rem auto;
}

.character-btn img {
    max-height: 50vw;
}

/*@media (max-height: 750px) {*/
/*    .character-btn img {*/
/*        width: 200px;*/
/*    }*/
/*}*/
