/* User Statistics Header Styling */

.stat-header-container {
    border: 1px solid red;

    height: 164px;
}
.stat-header-background {
    position: fixed; z-index: -1;
}

.stat-header-inner-container {
    display: flex;
    justify-content: space-between;
}
.stat-header-inner-container img {
    border: 1px solid purple;
}
.user-stats-container {
    display: flex; flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid orange;
}

.xp-bar {
    width: 100px; height: 10px;
    background-color: white; border-radius: 10px;
}

/* End of User Statistics Header Styling */

/* Body Container Section */
.game-menu-container {
}

.quiz-btn, .game-btn, .fact-btn{
    padding: 2rem 10rem;
    display: flex;

    margin: 2rem;
}

.quiz-btn {
    background: linear-gradient(180deg, rgba(0, 87, 159, 0.94) 0%, #1488CA 100%);
}
.game-btn {
    background: linear-gradient(180deg, rgba(92, 169, 0, 0.94) 0%, rgba(106, 194, 0, 0.94) 100%);
}

.fact-btn{
    background: linear-gradient(180deg, rgba(169, 0, 92, 0.94) 0%, rgba(215, 0, 104, 0.94) 100%);
}

.map-section {
    width: 100vw; height: 100%;
    border: 5px solid green;
}
